{% extends 'base.html' %}
{% load static %}

{% block title %}
Les Gourmet Resturant
{% endblock %}

{% block content %}
<body class="flex flex-col items-center justify-center min-h-screen ">

<!-- <div class="splash-screen">
  <img src="{% static 'img/splash.jpeg' %}" alt="Logo" class="logo w-64">
</div> -->
<section class="bg-white w-full rounded-3xl  " >
<div class="flex-col  min-h-screen " >
    <div class=" pt-2 p-4 flex flex-col " style="height: 260px;border-radius: 15px; background-image: url('{% static 'img/bg.jpg' %}');">
        <div class="">
            <div class="flex">
              <img src="{% static 'img/logo.png' %}" alt="Company Logo" class="w-16 h-auto rounded-3xl shadow-lg">
              
              <p class="m-2 text-3xl mt-3 text-left font-bold tracking-tight text-white sm:text-2xl">Our Menu</p>
            </div>
            <div class="mx-6 pt-1 pb-2 flex">
              <p class=" text-xl text-left font-semibold tracking-tight text-emerald-100 ">Welcome to Les Gourmet </p>
            </div>
            <p class="mx-6 text-xs text-left font-light tracking-tight text-emerald-100 pb-1"><span class="text-xl text-emerald-200"> 4 items </span> have been added to your cart</p>
            <div class="flex justify-between mx-6 border-t  border-emerald-500">
              <p class=" text-xl text-left font-light tracking-tight text-emerald-100 ">Total</p>
              <p class=" text-xl text-left font-light tracking-tight text-emerald-100 ">$ <span class="text-2xl"> 250.00</span></p>
            </div>  

            
            <div class="flex justify-end px-5 py-1">
              <button class="bg-emerald-500 hover:bg-emerald-600 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">
                My Cart
              </button>
            </div>
            
            
          </div>
      </div>
    <div class="rounded-3xl bg-white mt-3 flex flex-col justify-center w-full " style="margin-top: -20px;">
      <div class="mt-3">
        <div class="flex justify-start mx-3 ">
          <button id="tab1" class="tab-btn bg-gray-300 px-4 py-2 mx-1 rounded-3xl">Main menu</button>
          <button id="tab2" class="tab-btn bg-gray-300 px-4 py-2 mx-1 rounded-3xl">Bar</button>
        </div>
        <P class="text-sm mx-5 mt-2 text-gray-400">Switch between tabs to see other items.</P>

      </div>
      <div class=" justify-center m-3 ">
        <div  class=" ">
          <ul role="list" class=" space-y-2 space-x-2">
            {% for product in products %}
            <li class="flex-col  bg-gray-100 rounded-3xl p-3">
              <div class="h-24 w-120 h-48 flex-shrink-0 overflow-hidden ">
                <img src="{{ product.image.url }}" alt="Salmon emerald fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover rounded-3xl object-center">
              </div>
              <h3 class="text-gray-700 font-bold px-2">
                {{ product.name }}
              </h3>
              <p class="px-3 mt-2 text-xs text-gray-400">
                {{ product.description }}              </p>
              <div class="justify-between px-3">
                  <div class="flex flex-col justify-between text-base font-medium text-gray-900">
                    <p class="text-emerald-500 text-xl">$ {{ product.price }} <span class="text-gray-400 text-sm">/ per item</span></p>
                  </div>
              </div>
              <div>
                  <div class="flex justify-end  ">
                    <a class="bg-emerald-500 hover:bg-emerald-600  font-light text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" href="{% url 'product' product.id %}">
                      +
                    </a>                     
                   </div>
                </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
