{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Les Gourmet Resturant</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
        {% include 'footer.html' %} 
</body>
</html>