{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="splash-screen" style="background-color: #F30000;">
    <img src="{% static 'img/logo.jpeg' %}" alt="Logo" class="logo w-24 rounded-lg">
  </div>
  <div class="rounded-3xl bg-white mt-3 flex flex-col justify-center w-full " style="margin-top: -20px;">
    <div class="mt-3">
      <div class="flex justify-start mx-3 ">
        <a  href="{% url 'resturant' %}" class="text-white px-4 py-2 mx-1 rounded-3xl" style="background-color: #F30000;">Resturant Menu</a>
        <a  href="{% url 'cafe' %}" class="text-white px-4 py-2 mx-1 rounded-3xl" style="background-color: #F30000;">Cafe Menu</a>
      </div>
    </div>
    <div class=" justify-center m-3 ">
      <div >
        <ul  class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
          {% for category in categories %}
          <a href="{% url 'rcategory' category.id  %}" class="bg-cover bg-center rounded-2xl m-3 text-center flex-col items-center" style="background-image:  url('{{ category.image.url }}');height:200px;">
            <p class="text-3xl font-bold text-white mt-16 ">{{ category.name}}</p>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}